body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
} 

h1, h2, h3 {
    margin: 0 0 5px 0;
}

fieldset {
    display: flex;
    flex-direction: column;
}

#library-container {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 50px;
    justify-content: center;
    margin: 20px;
}

.book-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 250px;
    padding: 10% 12% 35% 21%;
    background: center no-repeat url(../library-app/images/book.png);
    background-size: contain;
}

.book-title {
    font-style: italic;
}